{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">

    {% for id in cart|keys %}
        {{ id_to_product[id].getName() }} - <input type="number" name="count_{{ id }}" value="{{ cart[id] }}"> шт<br>
    {% endfor %}
        Сумма заказа = {{ order_sum }}UAH.
    <input type="submit" value="Пересчитать">

</form>
<a href="/checkout">Оформить заказ</a>

{% endblock %}