{% extends 'base.html.twig' %}

{% block body %}
    {% if cart is empty %}
        <div style="color:red">В корзине нету ни одного товара!</div>
    {% else %}
        {{ form(orders_form) }}
    {% endif %}
{% endblock %}