{% extends 'base.html.twig' %}

{% block body %}
    {% for categories in category %}
        <br> <a href="/category/{{ categories.id }}">{{ categories.getName }}</a>
    {% endfor %}

{% endblock %}