{% extends 'base.html.twig' %}

{% block body %}
    Вы заказали :
    {{ product_name }} - {{ product_count }}шт на сумму {{ order_sum }} UAH.
    <br>
    <br>
    <br>
    Для продолжения оформления заказа
    <a href="/checkout">нажмите сюда</a> <br>
    <br>
    Чтобы вернуться к корзине, нажмите на ссылку("Корзина") ниже.


{% endblock %}