{% extends 'base.html.twig' %}

{% block body %}
    {% for product in products %}
        <br> {{ product.getName() }}
        {{ product.getPrice }}
        <a href="/add_to_cart/{{ product.id }}">Дoбавить в корзину</a>
    {% endfor %}
    <br>
    <br>
    Чтобы вернуться к выбору категории <a href="/">нажмите здесь</a>
    <br>
    Чтобы продолжить оформление заказа, используйте ссылку ("Корзина") ниже:

{% endblock %}
