{% extends 'base.html.twig' %}

{% block body %}
    {% for order in orders %}
        <h2>Заказ №{{ order.getId() }}</h2>
        <p>Информация про заказчика: <br>
            Имя - {{ order.getFirstName }}<br>
            Фамилия - {{ order.getLastName }}<br>
            E-mail - {{ order.getEmail }}<br>
            Город - {{ order.getCity }}<br>
            Номер телефона - {{ order.getTelephoneNumber }}
        </p>
        <p>Товары в заказе:</p>
        <ul>
            {% for productInOrder in order.getProductInOrders() %}
                <li>
                    {{ productInOrder.getProduct().getName() }}
                    (Категория = {{ productInOrder.getProduct().getCategory() }})
                    ({{ productInOrder.getProductCount() }} шт)
                    на сумму {{ order.getOrderSum}} UAH.
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

