<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>



    <div class="example-wrapper">
        <h1>My Store</h1>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <br>
    <hr>
     <a href="/cart">Корзина</a>
    </body>
</html>
